/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: beige;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.clock-container{
    text-align: center;
}

.clock{
    font-size: 3rem;
    letter-spacing: 2px;
}